 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/f998c4ad7af60a39fe0559b639d9cad598351722564d38212527048e6cf02e159055602aa2bc8e251775245e0cab30c90aaf45528e903b26deb980_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1 .u-group-1 {
  width: 933px;
  min-height: 253px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3px;
}

.u-section-1 .u-text-1 {
  animation-duration: 3500ms;
  font-weight: 700;
  font-size: 3.73333rem;
  margin: 42px 1px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 8px 65px 0 79px;
}

.u-section-1 .u-slider-1 {
  min-height: 435px;
  width: 488px;
  margin: 76px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  left: 169px;
  right: auto;
  bottom: 122px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  text-transform: none;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  margin: 0 42px 0 16px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 15px 24px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 21px auto 0 30px;
  padding: 9px 8px 11px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 14px auto 0 0;
  padding: 10px 6px 11px 5px;
}

.u-section-1 .u-carousel-item-3 {
  margin: 23px auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: -42px;
  top: 153px;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: auto;
  top: 153px;
  right: -27px;
  position: absolute;
}

.u-section-1 .u-slider-2 {
  min-height: 355px;
  width: 540px;
  margin: -441px 0 60px auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  left: 207px;
  right: auto;
  bottom: 142px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  margin: 0 85px 0 65px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 15px 105px 0 65px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 24px auto 0 65px;
  padding: 10px 1px;
}

.u-section-1 .u-container-layout-6 {
  padding: 22px 65px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 21px auto 0 0;
  padding: 10px 9px 11px 8px;
}

.u-section-1 .u-carousel-item-6 {
  margin: 16px auto 0 0;
}

.u-section-1 .u-carousel-control-3 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: 0;
  top: 140px;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-4 {
  width: 65px;
  height: 65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 113px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    left: 198px;
    bottom: 89px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 21px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-carousel-control-2 {
    right: -24px;
  }

  .u-section-1 .u-slider-2 {
    min-height: 310px;
    width: 452px;
    height: auto;
    margin-top: -407px;
    margin-right: -24px;
  }

  .u-section-1 .u-carousel-indicators-2 {
    left: 185px;
    bottom: 104px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-left: 42px;
  }

  .u-section-1 .u-carousel-control-3 {
    left: -23px;
  }

  .u-section-1 .u-carousel-control-4 {
    left: auto;
    position: absolute;
    right: -21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-slider-2 {
    margin-top: -441px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-carousel-control-3 {
    top: auto;
    bottom: 76px;
  }

  .u-section-1 .u-carousel-control-4 {
    top: auto;
    bottom: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-slider-2 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 568px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1098px;
  margin: 13px auto 35px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 9px 7px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 166px 0 99px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 21px 19px 0 37px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  width: 273px;
  margin: 26px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 9px 14px 0 28px;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 19px 166px 0 177px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 21px 1px 0 14px;
}

.u-section-2 .u-image-1 {
  min-height: 534px;
  background-image: url("images/banner-Crane-and-Pipe-Kinder-Morgan.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 117px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 141px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 37px;
    margin-left: 74px;
  }

  .u-section-2 .u-image-1 {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 685px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 786px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 22px;
    margin-right: 49px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 431px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #eafdfc);
}

.u-section-3 .u-sheet-1 {
  min-height: 1391px;
}

.u-section-3 .u-group-1 {
  width: 1014px;
  min-height: 325px;
  height: auto;
  margin: 33px 42px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 2.26667rem;
  animation-duration: 1000ms;
  margin: -36px 334px 0 286px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 13px 10px 0;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  font-size: 0.875rem;
  margin: 54px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  font-size: 0.875rem;
  margin: 25px 0 0;
}

.u-section-3 .u-text-5 {
  font-style: normal;
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 2.26667rem;
  animation-duration: 1000ms;
  margin: 121px -11px 0 11px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1033px;
  margin: 0 auto 51px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 353px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 0 2px 8px 0 rgba(255,255,255,1);
  padding: 20px 19px;
}

.u-section-3 .u-icon-1 {
  height: 90px;
  width: 90px;
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 11px rgba(128,128,128,1);
  background-image: none;
  margin: 0 95px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  font-family: Merriweather, serif;
  margin: 18px 11px 0 31px;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  margin: 15px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 353px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 0 2px 8px 0 rgba(255,255,255,1);
  padding: 7px 20px;
}

.u-section-3 .u-icon-2 {
  height: 105px;
  width: 105px;
  box-shadow: 0 0 8px 10px rgba(128,128,128,1);
  margin: 9px 93px 0 auto;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  font-family: Merriweather, serif;
  margin: 8px 13px 0 27px;
}

.u-section-3 .u-text-10 {
  font-style: normal;
  margin: 6px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 353px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 0 2px 8px 0 rgba(255,255,255,1);
  padding: 20px;
}

.u-section-3 .u-icon-3 {
  height: 94px;
  width: 94px;
  box-shadow: 0 0 8px 11px rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 97px 0 auto;
}

.u-section-3 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  font-family: Merriweather, serif;
  margin: 14px 20px 0;
}

.u-section-3 .u-text-12 {
  font-style: normal;
  margin: 6px 20px 0;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 353px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 3px 5px 20px 0 rgba(224,229,235,0.8);
  padding: 20px;
}

.u-section-3 .u-icon-4 {
  height: 90px;
  width: 90px;
  box-shadow: 0 0 8px 11px rgba(128,128,128,1);
  animation-duration: 1000ms;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto 0 107px;
}

.u-section-3 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  font-family: Merriweather, serif;
  margin: 42px 20px 0;
}

.u-section-3 .u-text-14 {
  font-style: normal;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 442px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 0 2px 8px 0 rgba(255,255,255,1);
  padding: 20px 19px;
}

.u-section-3 .u-icon-5 {
  height: 90px;
  width: 90px;
  box-shadow: 0 0 8px 11px rgba(128,128,128,1);
  animation-duration: 1000ms;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  font-family: Merriweather, serif;
  margin: 30px 21px 0;
}

.u-section-3 .u-text-16 {
  font-style: normal;
  margin: 21px 0 0 10px;
}

.u-section-3 .u-layout-cell-6 {
  background-image: none;
  min-height: 442px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 0 2px 8px 0 rgba(255,255,255,1);
  padding: 20px 0;
}

.u-section-3 .u-icon-6 {
  height: 90px;
  width: 90px;
  box-shadow: 0 0 8px 11px rgba(128,128,128,1);
  animation-duration: 1000ms;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-17 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  font-family: Merriweather, serif;
  margin: 30px 40px 0;
}

.u-section-3 .u-text-18 {
  font-style: normal;
  font-size: 0.866667rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-3 .u-group-1 {
    min-height: 530px;
    width: 940px;
    margin-top: 31px;
    margin-right: auto;
    margin-left: -30px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 101px;
    margin-right: 326px;
    margin-left: 283px;
  }

  .u-section-3 .u-btn-1 {
    padding: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -6px;
    margin-right: 328px;
    margin-left: 286px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 23px;
  }

  .u-section-3 .u-text-4 {
    width: 548px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 852px;
    margin-top: -79px;
    margin-bottom: 0;
    margin-left: 44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    position: relative;
    margin-right: 85px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    position: relative;
    margin-right: 83px;
  }

  .u-section-3 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-3 {
    position: relative;
    margin-right: 87px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-12 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 96px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-14 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-16 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-18 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 132px;
    margin-right: 216px;
    margin-left: 173px;
  }

  .u-section-3 .u-text-2 {
    letter-spacing: normal;
    margin-top: -81px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    width: 419px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 203px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 62px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 61px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 64px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 353px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 70px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 353px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 353px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 108px;
    margin-right: 136px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -131px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-4 {
    width: 393px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 1010px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1033px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 283px;
    margin-right: 29px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -306px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 1264px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1330px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 11px;
    margin-right: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 366px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 317px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-3 .u-text-13 {
    margin-top: 31px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 422px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 410px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-image-1 {
  min-height: 410px;
  background-image: url("images/WhatsAppImage2021-01-18at13.12.25.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 410px;
  margin-top: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 57px 137px 0 110px;
}

.u-section-4 .u-icon-2 {
  height: 91px;
  width: 91px;
  margin: -79px auto 0 52px;
}

.u-section-4 .u-text-4 {
  margin: 0 13px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 288px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 338px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 477px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 39px;
    margin-right: 79px;
    margin-left: 102px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -73px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 528px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 662px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 486px;
  }

  .u-section-4 .u-image-1 {
    min-height: 366px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 394px;
}

.u-section-5 .u-gallery-1 {
  height: 220px;
  width: 1159px;
  margin: 21px -19px 0 auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 20px 20px;
}

.u-section-5 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-back-slide-3 {
  background-position: 50% 0%;
}

.u-section-5 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-5 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-5 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  margin: -269px -11px 0 51px;
}

.u-section-5 .u-text-2 {
  margin: 207px 34px -28px 53px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-5 .u-gallery-1 {
    height: 122px;
    width: 912px;
    margin-top: 73px;
    margin-right: auto;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(7, auto);
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -179px;
    margin-right: 142px;
    margin-left: 171px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 170px 0 4px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-5 .u-gallery-1 {
    height: 338px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-5 .u-text-1 {
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: normal;
    margin-top: -395px;
    margin-right: 32px;
    margin-left: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1014px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-text-1 {
    margin-top: -1071px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3328px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2235px;
    width: 340px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-1 {
    margin-top: -2292px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 677px;
}

.u-section-6 .u-group-1 {
  width: 926px;
  min-height: 75px;
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-weight: bold;
  margin: 19px 20px 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 19px auto 0 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/pipelines-repairs.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/24.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/Pipeline.jpeg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-image-4 {
  background-image: url("images/header.bmp");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-image-5 {
  background-image: url("images/IMG_1949-1272x716.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-image-6 {
  background-image: url("images/27.jpg");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-6 .u-image-7 {
  min-height: 289px;
  background-image: url("images/ATEX-Pipeline-001.JPG");
  background-position: 50% 50%;
}

.u-section-6 .u-image-8 {
  min-height: 289px;
  background-image: url("images/maxresdefault.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 238px;
  }

  .u-section-6 .u-image-2 {
    min-height: 238px;
  }

  .u-section-6 .u-image-3 {
    min-height: 238px;
  }

  .u-section-6 .u-image-4 {
    min-height: 238px;
  }

  .u-section-6 .u-image-5 {
    min-height: 238px;
  }

  .u-section-6 .u-image-6 {
    min-height: 238px;
  }

  .u-section-6 .u-image-7 {
    min-height: 238px;
  }

  .u-section-6 .u-image-8 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 365px;
  }

  .u-section-6 .u-image-2 {
    min-height: 365px;
  }

  .u-section-6 .u-image-3 {
    min-height: 365px;
  }

  .u-section-6 .u-image-4 {
    min-height: 365px;
  }

  .u-section-6 .u-image-5 {
    min-height: 365px;
  }

  .u-section-6 .u-image-6 {
    min-height: 365px;
  }

  .u-section-6 .u-image-7 {
    min-height: 365px;
  }

  .u-section-6 .u-image-8 {
    min-height: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3387px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 548px;
  }

  .u-section-6 .u-image-2 {
    min-height: 548px;
  }

  .u-section-6 .u-image-3 {
    min-height: 548px;
  }

  .u-section-6 .u-image-4 {
    min-height: 548px;
  }

  .u-section-6 .u-image-5 {
    min-height: 548px;
  }

  .u-section-6 .u-image-6 {
    min-height: 548px;
  }

  .u-section-6 .u-image-7 {
    min-height: 548px;
  }

  .u-section-6 .u-image-8 {
    min-height: 548px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2169px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 345px;
  }

  .u-section-6 .u-image-2 {
    min-height: 345px;
  }

  .u-section-6 .u-image-3 {
    min-height: 345px;
  }

  .u-section-6 .u-image-4 {
    min-height: 345px;
  }

  .u-section-6 .u-image-5 {
    min-height: 345px;
  }

  .u-section-6 .u-image-6 {
    min-height: 345px;
  }

  .u-section-6 .u-image-7 {
    min-height: 345px;
  }

  .u-section-6 .u-image-8 {
    min-height: 345px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 428px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 433px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-1 {
  width: 510px;
  height: 325px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 433px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 20px 20px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 60px 20px 0;
}

.u-section-7 .u-text-2 {
  text-transform: none;
  font-weight: bold;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-7 .u-btn-1 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-7 .u-image-1 {
    width: 421px;
    height: 268px;
    position: relative;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-7 .u-image-1 {
    width: 322px;
    height: 205px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-7 .u-image-1 {
    width: 409px;
    height: 294px;
    margin-top: 58px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 249px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 34px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 186px;
  margin-top: 0;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 35px 11px;
}

.u-section-8 .u-text-1 {
  width: 165px;
  text-decoration: underline !important;
  margin: 29px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 12px 28px 0 102px;
}

.u-section-8 .u-image-1 {
  width: 74px;
  height: 74px;
  margin: -85px auto 0 28px;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  margin: 59px 39px 0 12px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 186px;
}

.u-section-8 .u-container-layout-2 {
  padding: 21px 39px 12px;
}

.u-section-8 .u-text-4 {
  margin: 1px 21px 0;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  margin: 20px 12px 0 30px;
}

.u-section-8 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px 169px -7px auto;
}

.u-section-8 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-8 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-8 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 11px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -74px;
    margin-left: 35px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 26px;
    margin-left: 44px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-social-icons-1 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 127px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -85px;
    margin-left: 28px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}