.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1;
  margin: 67px 140px 0 193px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 367px 0 394px;
}

.u-section-1 .u-list-1 {
  width: 1041px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  min-height: 325px;
  grid-gap: 24px 24px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  background-image: none;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 9px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  background-image: none;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 9px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  background-image: none;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 9px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 807px;
    margin-left: 93px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    width: 379px;
    margin-left: 294px;
    margin-right: 267px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 16px));
    min-height: 293px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 184px;
    margin-right: 157px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 673px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
    margin-right: 67px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1719px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 634px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 11px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 604px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: 11px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-2 .u-btn-1 {
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 28px auto 0 0;
  padding: 10px 42px 10px 40px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 563px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 51px;
    padding-left: 49px;
  }
}